#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: red;
}

#test {
	color: blue;
}
.test2 {
	color: yellow;
}
.input1 {
	border: 1px solid #cccccc;
}
.input1:focus {
	border-color: grey;
}