<template>
  <div class="about">
    <h1>About2 ({{ cntRoute }})</h1>
    <br>
    <h2>Kompaniya: {{ company.name }}</h2>
    <h2>Tashkil topgan: {{ company.year }}</h2>
    <h2>Ishchilari: {{ company.employers | employee }}</h2>
    <h2>Yillik daromadi: {{ company.amount }}</h2>
  </div>
</template>
<script>
export default {
	beforeRouteEnter(to, from, next) {
		if ('company' in to.params && to.params.company) {
			next()
		} else {
			next({name: 'Home'})
		}
	},
	data: () => ({
		company: {},
	}),
	created() {
		const company = this.$route.params.company
		this.company = company
	},
	computed: {
		cntRoute() {
			return this.$store.state.cntAbout2
		}
	}
}
</script>
