<template>
  <div class="about">
    <h1>About1 ({{ cntRoute }})</h1>
    <br>
    <h2>Kompaniya: {{ company.name }}</h2>
    <h2>Tashkil topgan: {{ company.year }}</h2>
    <h2>Ishchilari: {{ company.employers | employee('shtuk') }}</h2>
    <h2>Yillik daromadi: {{ company.amount | summa('.', null, 'USD') }}</h2>
    <h2>Nomer: {{ prefixNumber }}{{ number }}</h2>
  </div>
</template>
<script>
import CodeMixin from '@/mixins/CodeMixin' 
import AppNameMixin from '@/mixins/AppNameMixin' 
export default {
	mixins: [CodeMixin, AppNameMixin],
	beforeRouteEnter(to, from, next) {
		if ('company' in to.params && to.params.company) {
			next()
		} else {
			next({name: 'Home'})
		}
	},
	data: () => ({
		company: {},
		number: 7509586655
	}),
	created() {
		console.log(this.prefixNumber)
		console.log(this.myAppName)
		const company = this.$route.params.company
		if (company) {
			this.company = company
		}
	},
	computed: {
		cntRoute() {
			return this.$store.state.cntAbout1
		}
	}
}
</script>
