<template>
  <div>
    <h2 class="mb-4">Home page1111111</h2>
    <v-card style="max-width: 200px;" elevation="15">
      <v-card-title :style="{color: car.color}">{{ car.name }}</v-card-title>
      <v-card-text>Yili: <code>{{ car.year }}</code></v-card-text>
    </v-card>
    <br>
    <v-row>
      <v-col cols="12" sm="6" md="4" lg="3" xl="2" v-for="(item, index) in cars" :key="index">
        <v-card elevation="15" @click="getCar(item)">
          <v-card-title :style="{color: item.color}">{{ item.name }}</v-card-title>
          <v-card-text>Yili: <code>{{ item.year }}</code></v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
  	return {
  		car: {},
      cars: [],
  	}
  },
  created() {
    // console.log(this.$http)
    // console.log(this.axios)
  	this.$http.get('//api.my').then(res => {
      this.car = res.data
    })
    this.$http.get('//api.my/cars.php').then(res2 => {
      this.cars = res2.data
    })
  },
  methods: {
    getCar(car) {
      this.$http.get(`http://api.my?r=${car.name}`).then(res => {
        this.car = res.data
      })
    }
  }
}
</script>
