<template>
  <div>
    <h2>Home page</h2>
    <div class="pa-10">
    	<h1>1</h1>
    	<div v-if="number > 0">
	    	<h2 v-for="a of number" :key="a">
	    		<span v-if="a % 2 > 0">test {{ a }}</span>
	    	</h2>
    	</div>
    	<br>
    	<h1>2</h1>
    	<h2 v-if="aa[4] !== undefined">{{ aa[4] }} sum</h2>
    	<br>
    	<h1>3</h1>
    	<div>
    		<h2 v-for="(b, c) of aa" :key="c">{{ c * 2 + 2 }}. {{ b }} sum</h2>
    	</div>
    	<br>
    	<h1>4</h1>
    	<div>
    		<div v-for="(d, e) in cc" :key="e">{{ d.title }}</div>
    	</div>
    	<br>
    	<h1>5</h1>
    	<div>
    		<div v-for="(g, h) in dd" :key="h">{{ g }}</div>
    	</div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
  	return {
  		number: 5,
  		aa: [100, 280, 350, 400, 5000, 600, 700, 400],
  		cc: [
	  		{id: 1, title: 'Salom'},
	  		{id: 2, title: 'sdfsdf'},
	  		{id: 3, title: 'lkjsdglskdfg'},
	  		{id: 4, title: 'sdfjbgkjsdfg'},
	  		{id: 5, title: 'iwuerywe'},
	  		{id: 6, title: 'kjsnkdjfh'},
	  	],
		  dd:	{
	  		id: '123123',
	  		name: 'sdlgfsdfs',
	  		name2: 'sdlgfsdfs',
	  		age: 'sdkfs.df',
	  		'hacker-006': 'men hackerman'
	  	}
  	}
  },
  created() {
  	// for (var i = 0; i < 4; i++) {
  	// 	// const num = i + 1
  	// 	// if ((i + 1) === 3) {
  	// 		// continue
  	// 		// break
  	// 	// }
	  // 	console.log('test' + (i + 1))
  	// }
  	// const a = [1, 2, 3, 4, 5, 'sdfsdfsdfsdf', 'eiruto34hfr']
  	// // const a = [1, 2]
  	// if (a[4] !== undefined) {
	  // 	console.log(a[4])
  	// } else {
  	// 	console.log(a[0])
  	// }
  	// // console.log(a[4])
  	// // for (let i = 0; i < a.length; i++) {
  	// // 	console.log(a[i])
  	// // }

  	// const bb = [
  	// 	{id: 1, title: 'Salom'},
  	// 	{id: 2, title: 'sdfsdf'},
  	// 	{id: 3, title: 'lkjsdglskdfg'},
  	// 	{id: 4, title: 'sdfjbgkjsdfg'},
  	// 	{id: 5, title: 'iwuerywe'},
  	// 	{id: 6, title: 'kjsnkdjfh'},
  	// ]

  	// for (var i = 0; i < bb.length; i++) {
  	// 	console.log(bb[i].title)
  	// }

  	const dd = {
  		id: '123123',
  		name: 'sdlgfsdfs',
  		age: 'sdkfs.df',
  		'hacker-006': 'men hackerman'
  	}

  	// console.log(dd['hacker-006'])

  	for (const g in dd) {
  		console.log(g)
  	}
  }
}
</script>
