<template>
	<div style="margin-bottom: 15px;">
		<span style="margin-right: 10px;"><code>FamBox.vue</code></span>
		<input type="text" :value="value" @input="uzgartir2">
	</div>
</template>
<script>
export default {
	props: ['value'],
	data() {
		return {
			
		}
	},
	methods: {
		uzgartir2(event) {
			const value = event.target.value
			this.$emit('update:value', value)
		}
	}
}
</script>
