<template>
	<div style="margin-bottom: 15px;">
		<span style="margin-right: 10px;"><code>NameBox.vue</code></span>
		<input type="text" :value="value" @input="uzgartir($event.target.value)">
	</div>
</template>
<script>
export default {
	props: ['value'],
	data() {
		return {

		}
	},
	methods: {
		uzgartir(val) {
			this.$emit('update:value', val)
		}
	}
}
</script>
