<template>
	<div>
		<span style="margin-right: 15px;">{{ computedLabel }}</span>
    <input type="text" style="padding: 10px 20px; border-radius: 4px;font-size: 18px; color: grey; outline: 0 none;" class="input1" :class="inputClass" :style="inputStyle" @input="inputClick">
  </div>
</template>
<script>
export default {
	props: ['value', 'inputStyle', 'inputClass', 'label'],
	methods: {
		inputClick(event) {
			this.computedLabel = event.target.value
		}
	},
	computed: {
		computedLabel: {
			get() {
				return this.label
			},
			set(val) {
				this.$emit('update:label', val)
			}
		}
	}
}
</script>
