<template>
	<div>
		<span style="margin-right: 15px;">{{ label }}</span>
    <input type="text" style="padding: 10px 20px; border-radius: 4px;font-size: 18px; color: grey; outline: 0 none;" :value="computedValue" @input="input">
  </div>
</template>
<script>
export default {
	props: ['value'],
	data() {
		return {
			label: '',
		}
	},
	methods: {
		input(event) {
			this.label = event.target.value
			this.computedValue = event.target.value
		}
	},
	computed: {
		computedValue: {
			set(val) {
				this.$emit('update:value', val)
			},
			get() {
				return this.value
			}
		}
	}
}
</script>
