<template>
  <v-app>
    <v-main>
      <v-app-bar color="deep-purple accent-4 no-print" dense dark>
        <div>
          <router-link :to="{name: 'Home'}" style="text-decoration: none;">
            <v-toolbar-title class="white--text">Page title</v-toolbar-title>
          </router-link>
        </div>

        <v-spacer></v-spacer>

        <v-btn @click="toRoute('about1', {name: 'Alibobo', year: '2015', employers: 56, amount: '5   6821 400.2534534'})" class="mr-3" dark text>
          <v-icon class="mr-2">mdi-heart</v-icon>
          <span>About1</span>
        </v-btn>

        <v-btn @click="toRoute('about2', {name: 'Google', year: '1998', employers: 4000, amount: 1568956000})" class="mr-3" dark text>
          <v-icon class="mr-2">mdi-heart</v-icon>
          <span>About2</span>
        </v-btn>

        <v-btn @click="toRoute('about3', {name: 'Telemax', year: '2001', employers: 10, amount: 1000})" dark text>
          <v-icon class="mr-2">mdi-heart</v-icon>
          <span>About3</span>
        </v-btn>
      </v-app-bar>
      <div class="pa-6">
        <v-card max-width="800" class="mx-auto">
          <v-card-title>Our pages</v-card-title>
          <v-card-text style="min-height: 300px;">
            <router-view></router-view>
          </v-card-text>
        </v-card>
      </div>
    </v-main>
  </v-app>
</template>

<script>

import CodeMixin from '@/mixins/CodeMixin' 

export default {
  name: 'App',
  mixins: [CodeMixin],
  // created() {
  //   console.log(this.prefixNumber)
  // },
  methods: {
    toRoute(routeName, company) {
      if (this.$route.name !== routeName) {
        this.$store.commit('updateRouteCnt', routeName)
      }
      this.$router.push({name: routeName, params: {company: company}})
    }
  }
}
</script>
