<template>
  <v-app>
    <v-main>
      <nav class="d-flex px-5" style="position: fixed;width: 100%;z-index: 20">
        <ul class="d-flex pa-0" ref="ul">
          <li><a href="#section-1">Section 11111</a></li>
          <li><a href="#section-2">Section 2</a></li>
          <li><a href="#section-3">Section 3</a></li>
          <li><a href="#section-4">Section 4</a></li>
        </ul>
        <v-spacer></v-spacer>
        <div>
          <v-badge color="green" :content="selectedItems.length" overlap offset-y="21">
            <v-btn class="white--text pr-3" @click="test" text>Korzinka</v-btn>
          </v-badge>
        </div>
      </nav>
      <div style="padding-top: 40px;">
        <main class="main">
          <section id="section-1">
            <h1>Section 1</h1>
            <v-row>
              <v-col cols="12" sm="6" md="4" lg="3" xl="2" v-for="dataItem in dataItems" :key="dataItem.id">
                <v-card>
                  <v-card-title>{{ dataItem.title }}</v-card-title>
                  <v-card-text>{{ dataItem.text }}</v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="green" text @click="setToCard(dataItem)">To Card</v-btn>
                  </v-card-actions>
                </v-card>
              </v-col>
            </v-row>
          </section>
          <section id="section-2">
            <h1>Section 2</h1>
            <p>Ratione nulla nam, ipsa dignissimos corrupti veniam nostrum, laudantium asperiores sequi numquam placeat velit voluptate in praesentium non labore unde incidunt laborum maxime quae magni.</p>
          </section>
          <section id="section-3">
            <h1>Section 3</h1>
            <p>Soluta quibusdam ad nostrum vel voluptate delectus sequi dolores quia quaerat officia corrupti, aperiam fugit facere debitis repudiandae praesentium sapiente inventore repellendus, nemo commodi alias!</p>
          </section>
          <section id="section-4">
            <h1>Section 4</h1>
            <p>Aliquid aliquam magnam ducimus similique obcaecati, unde exercitationem laborum incidunt, quas in ipsum inventore nostrum? Blanditiis optio cumque earum iste odio! Alias sint accusamus repudiandae.</p>
          </section>
        </main>
      </div>
      <v-dialog v-model="dialog" max-width="400">
        <v-card class="mx-auto">
          <v-list>
            <v-list-item v-for="(sItem, index) in selectedItems" :key="index">
              <v-list-item-content>{{sItem.title}}</v-list-item-content>
            </v-list-item>
          </v-list>
        </v-card>
      </v-dialog>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data() {
    return {
      items: [
        { title: 'Home', icon: 'dashboard' },
        { title: 'About', icon: 'question_answer' }
      ],
      mini: true,
      right: null,
      drawer: null,
      selectedItems: [],
      dataItems: [
        {title: 'Test1', text: 'Lorem ipsum dolor set amet.', id: 1},
        {title: 'Test2', text: 'Lorem ipsum dolor set amet.', id: 2},
        {title: 'Test3', text: 'Lorem ipsum dolor set amet.', id: 3},
        {title: 'Test4', text: 'Lorem ipsum dolor set amet.', id: 4},
      ],
      dialog: false,
    }
  },
  created() {
    window.addEventListener('scroll', this.scrollListener)
  },
  methods: {
    test() {
      this.dialog = true
    },
    setToCard(item) {
      const copyItem = Object.assign({}, item)
      const axiosConfig = {
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        }
      };
      this.axios.post('//api.my/korzinka.php', {id: copyItem.id}, axiosConfig).then(res => {
        console.log(res)
        if (res.data && res.data.status === 'success') {
          this.selectedItems.push(copyItem)
        }
      })
    },
    scrollListener() {
      // const mainNavLinks = document.querySelectorAll('nav ul li a');
      const fromTop = window.scrollY;
      // console.log(fromTop)

      if (this.$refs.ul) {
        const mainNavLinks = this.$refs.ul.childNodes
        // console.log(this.$refs.ul.childNodes)

        mainNavLinks.forEach(li => {
          const link = li.childNodes[0]
          const section = document.querySelector(link.hash);

          // if (2 <= 4 && 2 + 3 > 1) {}
          if (section.offsetTop <= fromTop && section.offsetTop + section.offsetHeight > fromTop) {
            link.classList.add('current');
          } else {
            link.classList.remove('current');
          }
        });
      }
    }
  }
}
</script>
<style>
  html {
    scroll-behavior: smooth;
  }
  /*.body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    */
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  /*}*/
  /*header {
    grid-column: 1 / 3;
    background: #455A64;
    color: white;
    padding: 4rem;
    text-align: center;
  }*/
  nav {
    white-space: nowrap;
    background: #37474F;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
  }
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  nav ul li a.current {
    background: black;
  }
  .main {
    padding-bottom: 40rem;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  /*footer {
    grid-column: 1 / 3;
    background: #607D8B;
    padding: 5rem 1rem;
  }*/
</style>
