<template>
  <div id="app">
    <div id="nav">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
      <div>Name: {{ name }}</div>
      <div>Age: {{ age }}</div>
      <div>Study: {{ study }}</div>
      <div>{{ getRaschet }}</div>
      <div>ism: {{ ism }}</div>
      <div>fam: {{ fam }}</div>
      <div>FIO: {{ fio }}</div>
      <hello-world></hello-world>
      <button @click="kopaytir">Ko'paytiramiz</button>
      <input type="text" :value="name">
    </div>
    <router-view/>
  </div>
</template>

<script>
import HelloWorld from '@/components/HelloWorld.vue'
export default {

  components: {
    HelloWorld
  },

  data() {
    return {
      name: 'Shoniyoz',
      age: '20',
      study: '',
      a: 10,
      b: 20,
      ism: 'Shoniyoz',
      fam: 'Yuldoshov',

      // getRaschet: 0,
    }
  },

  created() {
    this.study = 'Arxitektura'
    // this.getRaschet = this.a + this.b
  },

  methods: {
    // getRaschet() {
    //   return this.a + this.b
    // },
    kopaytir() {
      this.a++
    }
  },

  mounted() {
    this.study = 'Arxitektura2'
  },

  computed: {
    fio() {
      return this.ism + this.fam
    },
    getRaschet() {
      return this.a + this.b
    }
  },

  watch: {
    // a(val) {
    //   this.getRaschet = val + this.b
    // },
    // b(val) {
    //   this.getRaschet = this.a + val
    // }
  },

}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
