<template>
  <v-app>
    <h2>Test</h2>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    dispatchedResult: ''
  }),
}
</script>
