<template>
  <div id="app">
    <div id="test" class="test2" style="/*color: green;*/">sdlkfmsdfmsd.,f {{ name }}</div>
    <br>
    <div>
      <text-box value="Abror"></text-box>
    </div>
    <br>
    <div>
      <text-box value="Sobir"></text-box>
    </div>
    <div>
      <check-box></check-box>
    </div>
  </div>
</template>

<script>
import TextBox from '@/components/TextBox'
import CheckBox from '@/components/CheckBox'
export default {
  components: {
    TextBox,
    CheckBox
  },
  data() {
    return {
      name: 'sdkfsdkf',
    }
  },

  created() {
  },

  methods: {
  },

}
</script>

<style scoped>
  /*.test2 {
    color: orange;
  }*/
</style>
