<template>
  <div id="app">
    <div id="test" class="test2" style="/*color: green;*/">sdlkfmsdfmsd.,f {{ name }}</div>
    <br>
    <div>
      <!-- <text-box :input-style="inputStyle2" :input-class="kelganClass3" :label.sync="parentLabel"></text-box> -->
      <text-box :value.sync="parentValue"></text-box>
    </div>
    <br>
  </div>
</template>

<script>
import TextBox from '@/components/TextBox'
export default {
  components: {
    TextBox
  },
  data() {
    return {
      name: 'sdkfsdkf',
      inputStyle1: 'border-color: red;border-width: 3px;',
      inputStyle2: {borderWidth: '6px'},
      kelganClass: 'input3',
      kelganClass2: {},
      kelganClass3: ['input3', 'input2'],
      direktorClass: false,
      uqtuvchiClass: true,
      parentLabel: 'Axror',
      parentValue: 'Sport',
    }
  },

  created() {
    this.kelganClass2 = {input3: this.direktorClass, input2: this.uqtuvchiClass}
  },

  methods: {
  },

  watch: {
    parentValue(val) {
      console.log(val)
    }
  }

}
</script>

<style scoped>
  /*.test2 {
    color: orange;
  }*/
</style>
