<template>
  <div id="app">
    <name-box :value.sync="nameVar"></name-box>
    <fam-box :value.sync="famVar"></fam-box>
    <h2><code>App.vue</code> {{ fioVar }}</h2>
    <fio :label="fioVar"></fio>
  </div>
</template>

<script>
// import Fio from '@/components/Fio'
export default {
  // components: {
  //   Fio
  // },

  data() {
    return {
      nameVar: 'Ddddddddd',
      famVar: 'Bbbbbbbbb',
    }
  },

  created() {
    
  },

  methods: {
  },

  computed: {
    fioVar() {
      return `${this.nameVar} ${this.famVar}`
    }
  },

  watch: {
   
  }

}
</script>

<style scoped>
  /*.test2 {
    color: orange;
  }*/
</style>
