<template>
  <v-app>
    <v-app-bar app color="shonni" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <br>
      <v-row class="px-4"> <!-- no-gutters -->
        <v-col cols="5" style="border: 1px red;">
          <div style="border: 1px blue;">
            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo veritatis esse ipsum mollitia voluptas, delectus, aliquid dolorum est nulla dicta nostrum ex adipisci quaerat officiis atque ad. Numquam quae, doloribus ullam aut placeat corrupti assumenda natus. Id ipsa numquam molestias excepturi blanditiis modi cupiditate consequatur porro, dignissimos assumenda cum ad, ex? Atque libero repellendus dignissimos hic, officia? Laborum voluptas, dicta architecto blanditiis totam hic rem tempore ipsa. Aperiam quisquam optio soluta ipsa quidem culpa minus vel veritatis ab nemo in, deleniti assumenda a quia. Voluptatum dolorem amet pariatur totam, eaque quidem minus ducimus maxime illum culpa. Error velit voluptas doloribus.</span>
          </div>
        </v-col>
        <v-col cols="4" style="border: 1px red;">
          <div style="border: 1px blue;">
            <v-form ref="formRef">
              <div>
                <v-text-field v-model="fioModel" outlined label="FIO" :rules="fioRules"></v-text-field>
              </div>
              <div>
                <v-text-field v-model="ageModel" outlined label="Age" :rules="ageRules"></v-text-field>
              </div>
              <div>
                <v-btn block large dark color="blue darken-3" @click="validateForm">Save</v-btn>
              </div>
              <br>
              <div>Kiritilgan malumotlar:</div>
              <div>
                <div v-for="item in kiritilganMalumot" :key="item.id">
                  <v-row>
                    <v-col cols="5">{{ item.text }}</v-col>
                    <v-col cols="7">{{ item.value }}</v-col>
                  </v-row>
                </div>
              </div>
            </v-form>
          </div>
        </v-col>
        <v-col cols="3" style="border: 1px red;">
          <div style="border: 1px blue;">
            <v-img lazy-src="/img/pictures/pic1.jpg" src="/img/pictures/pic1.jpg"></v-img>
          </div>
        </v-col>
      </v-row>
      <br>
      
      <!-- <hello-world/> -->
    </v-main>
  </v-app>
</template>

<script>
// import HelloWorld from './components/HelloWorld'
import fn from './plugins/fn'
export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
    fioModel: 'Hhhhhhh hhhhhh',
    ageModel: '20',
    fioRules: [
      v => !!v || 'Bush qoldirmang',
      v => (!!v && v.toString().length >= 6) || 'Kamida 6 raqam kirgizing',
      v => (!!v && v.toString().length <= 50) || 'Kupi bilan 50 raqam kirgizing',
    ],
    ageRules: [
      v => !!v || 'Bush qoldirmang',
      v => (!!v && /^\d+$/.test(v)) || 'Faqat nomer mumkin',
      v => (!!v && fn.toInt(v) >= 16) || 'Juda kichik yosh',
      v => (!!v && fn.toInt(v) <= 110) || 'Notugri yosh',
    ],
    kiritilganMalumot: []
  }),

  methods: {
    validateForm() {
      this.kiritilganMalumot = []
      if (this.$refs.formRef.validate()) {
        this.kiritilganMalumot = [
          {text: 'Fio', value: this.fioModel, id: 1},
          {text: 'Age', value: this.ageModel, id: 2},
        ]
      }
    },
    toInt(val) {
      const intVal = parseInt(val)
      if (!isNaN(intVal)) {
        return intVal
      }
      return 0
    }
  },

  // watch: {
  //   fioModel(val) {
  //     if (val && val.length >= 10) {
  //       console.log('ishlab ketti')
  //     }
  //   }
  // }
}
</script>
