<template>
  <v-app>
    <v-app-bar app color="shonni" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-name-dark.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
        text
      >
        <span class="mr-2">Latest Release</span>
        <v-icon>mdi-open-in-new</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <br>
      <v-row class="px-4"> <!-- no-gutters -->
        <v-col cpls="12" sm="6" md="4" lg="3" xl="2" style="border: 1px solid red;">
          <div class="grey--text">STATE</div>
          <div>{{ $store.state.appVersion }}</div>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="3" xl="2" style="border: 1px solid red;">
          <div class="grey--text">MUTATION (commit)</div>
          <div>
            <v-btn @click="$store.commit('updateAppVersion')">Update Version</v-btn>
          </div>
        </v-col>
        <v-col cols="12" sm="6" md="4" lg="3" xl="2" style="border: 1px solid red;">
          <div class="grey--text">GETTERS</div>
          <div>{{ $store.getters.getAppVersion }}</div>
        </v-col>
        <v-col cols="12" sm="6" md="12" lg="3" xl="6" style="border: 1px solid red;">
          <div class="grey--text">ACTIONS (dispatch)</div>
          <div>
            <v-btn @click="myAction">Yangilash</v-btn>
          </div>
          <div>{{ dispatchedResult }}</div>
        </v-col>
      </v-row>
      <br>
      
      <!-- <hello-world/> -->
    </v-main>
  </v-app>
</template>

<script>

// import fn from './plugins/fn'
export default {
  name: 'App',

  components: {
    // HelloWorld,
  },

  data: () => ({
    dispatchedResult: ''
  }),

  created() {
  },

  methods: {
    myAction() {
      this.$store.dispatch('versiyaYagilash')
      this.$store.dispatch('versiyaOlish').then(res => {
        this.dispatchedResult = res
        console.log(res)
      })
    }
  },
}
</script>
