#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#test {
	color: blue;
}
.test2 {
	color: yellow;
}
.input1 {
	border: 1px solid #cccccc;
}
.input1:focus {
	border-color: grey;
}

.input3 {
	border-color: red;
}

.input2 {
	border-color: green;
}

@media print {
	.no-print {
		display: none;
	}
}